<!-- Work -->
	<div class="wrapper style2">
		<article id="work">
			<header>
				<h2>Here's all the stuff I do.</h2>
			</header>
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/software_Development_Icon.png" /></a>
							<h3>Web</h3>
							<p>design and develoment</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/nodeimages.jpg" alt="" /></a>
							<p><strong>Node</strong> backend dev using node frameworks, Hapijs and expressjs</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/download2.jpg" alt="" /></a>
							<p><strong>java</strong> software development and backend development</p>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/angular.png" /></a>
							<p><strong>Web apps creation </strong>using js frameworks: polymer, angular, react, ionic, ember and vue js</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/android.png" alt="" /></a>
							<p><strong>mobile development</strong></p>
								<p>using android, java, ionic </p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/database-1.png" alt="" /></a>
							<p><strong>database design and development</strong></p> 
							<p>using mysql, sqlserver and oracle</p>
						</article>
					</div>
				</div>
			</div>
			<footer>
				<a href="#portfolio" class="button big scrolly">See some of my recent work</a>
			</footer>
		</article>
	</div>