<!-- Portfolio -->
	<div class="wrapper style3">
		<article id="portfolio">
			<header>
				<h2>Here’s some stuff I made recently.</h2>
			</header>
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/slack.png" /></a>
							<p><strong>slack API</strong> for ampath and intergrated it with etl rest server
								<a target="_blank" href="https://github.com/AMPATH/amrs-slackfeedback-server">https://github.com/AMPATH/amrs-slackfeedback-server</a></p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/chatapp.jpg" alt="" /></a>
							<p><strong>angular2-firebase-chatApp</strong></p>
								<p><a target="_blank" href="https://angular2-chat-app-b05c8.firebaseapp.com">https://angular2-chat-app-b05c8.firebaseapp.com</a></p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/ionic.png" alt="" /></a>
							<p><strong>Android News App</strong> using ionic. Link to my repository</p>
								<p><a target="_blank" href="https://github.com/jecihjoy/MyNewsApp">https://github.com/jecihjoy/MyNewsApp</a></p>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/news.jpg" /></a>
							<p><strong>Angular2 News App</strong></p>
							<p><a target="_blank" href="https://my-news-app-2c6bb.firebaseapp.com">https://my-news-app-2c6bb.firebaseapp.com</a></p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/email.png" /></a>
							<p><strong>Email cryptosystem</strong> using java</p>
							<p><a target="_blank" href="https://github.com/jecihjoy/Email-Cryptosystem">https://github.com/jecihjoy/Email-Cryptosystem</a></p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="../../assets/images/news.jpg" /></a>
							<p><strong>Angular2 News App</strong></p>
							<p><a target="_blank" href="https://my-news-app-2c6bb.firebaseapp.com">https://my-news-app-2c6bb.firebaseapp.com</a></p>
						</article>
					</div>
				</div>
			</div>
			<footer>
				<a href="#contact" class="button big scrolly">Get in touch with me</a>
			</footer>
		</article>
	</div>