

<!-- Home -->
	<div class="wrapper style1 first">
		<article class="container" id="top">
			<div class="row">
				<div class="4u 12u(mobile)">
					<span class="image fit"><img src="../../assets/images/IMG-20170729-WA0002.jpg" alt="" /></span>
				</div>
				<div class="8u 12u(mobile)">
					<header>
						<h1>Hi. I'm <strong>Jecih Joy</strong>.</h1><p><i>Welcome to my site</i></p>
					</header>
					<p>Im currently a forth year computer science student in Masinde Muliro University.
							I'm 22 years old. I like technology and designing. Coding is my profession. 
							I like having fun, travelling and making new friends.
						I believe confidence is the key to success in life since <i>perception is reality</i></p>
					<a href="#work" class="button big scrolly">Learn about what I do</a>
				</div>
			</div>
		</article>
	</div>

<app-work></app-work>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
